{% extends 'base.html'%}
{% block title %}库存查询{% endblock %}
{% block content %}
<!DOCTYPE html>
  <body>
    <div class="layui-main">
          <div class="layui-row">
            <div class="layui-col-md12">
              <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
              <legend>库存查询</legend>
              </fieldset>
              <form class="layui-form layui-form-pane" action="/adduser" method="post" lay-filter="example">
                <div class="layui-form-item">
                  <label class="layui-form-label">用户</label>
                  <div class="layui-input-block">
                    <input type="text" name="user" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">工号</label>
                  <div class="layui-input-block">
                    <input type="text" name="code" lay-verify="title" autocomplete="off" placeholder="请输入工号" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">密码</label>
                  <div class="layui-input-block">
                    <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">电话</label>
                  <div class="layui-input-block">
                    <input type="text" name="telephone" lay-verify="title" autocomplete="off" placeholder="请输入电话" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">是否启用</label>
                  <div class="layui-input-block">
                    <input type="radio" name="sts" value="1" title="是" checked="">
                    <input type="radio" name="sts" value="0" title="否">
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="layui-col-md12">
              <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
              <legend>信息</legend>
              </fieldset>

            </div>
          </div>
        </div>

  </body>
</html>
<script src="/static/layui/layui.js"></script>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');
  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 0){
        return '标题不能为空';
      }
    }
    ,pass: [/(.+){6,12}$/, '密码必须6到12位']
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });
});
</script>
{% endblock %}
